<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link href="{{ asset('css/style.css')}}" rel="stylesheet">
    <script type="text/javascript" src="{{  asset('/js/jquery-3.4.1.min.js')}}"></script>
</head>
<body>
<div class="wrapper">
    <header class="header">
        <div class="logo">
            <a href="{{ path('user_main') }}" style="text-decoration: none; color: #000"><img src="{{ asset('img/logo.png')}}"><div class="logoSign"><p>SPACE</p>EDUCATION</div></a>
        </div>
        <div class="siteName"><h1>МБОУ СОШ №14<h1></div>
        <div class="user"><span>Петров В.И</span><img class="userIcon" src="{{ asset('img/userIconDemo.png')}}"></div>
    </header><!-- .header-->
{% block body %}{% endblock %}
</div><!-- .wrapper -->

<footer class="footer">
    <div class="homeButton"></div>
    <div class="bigFooter"><img src="{{ asset('img/del.png')}}"></div>
    <div class="smallFooter"><img src="{{ asset('img/add.png')}}" onclick="document.getElementById('text').className = 'big-size';"></div>
</footer><!-- .footer -->
{% block javascripts %}{% endblock %}
</body>
</html>
