<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/datepicker3.css') }}" rel="stylesheet">
    <link href="{{ asset('css/styles.css') }}" rel="stylesheet">

    <!--Icons-->
    <script src="{{ asset('js/lumino.glyphs.js') }}"></script>

    <!--[if lt IE 9]>
    <script src="{{ asset('js/html5shiv.js') }}"></script>
    <script src="{{ asset('js/respond.min.js')}}"></script>
    <![endif]-->
    <title>Панель управления преподавателя</title>
</head>
<body>
{#<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="background-color: #ffdd00; min-height: 90px">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/user/main"><img alt="Brand" src="{{ asset('/img/logo.png') }}" height="70px"> <span style="color: #000; font-weight: bold">Личный кабинет ученика</span></a>
            <ul class="user-menu">
                <li class="dropdown pull-right">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <svg class="glyph stroked male-user">
                            <use xlink:href="#stroked-male-user"></use>
                        </svg>
                        Иванова Нина Петровна <span class="caret"></span></a>
                </li>
            </ul>
        </div>

    </div><!-- /.container-fluid -->
</nav>#}
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
</body>
</html>
